@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLL BAR LATERAL PARA FICAR MAIS SUAVE E NÃO CHAMAR TANTA ATENÇÃO */
/* Definir tamanho da barra */
::-webkit-scrollbar {
  width: 8px;
}

/* Definir a cor do background da barra */
::-webkit-scrollbar-track {
  background: #0a1945;
}

/* Definir estilização da barra de rolagem */
::-webkit-scrollbar-thumb {
  /* Cor branca com opacidade de 10% e bordas arredondadas para suavidade */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Ganhar maior visibilidade à sensibilidade do mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Para o Firefox */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) #0a1945;
}
